@charset "UTF-8";

body {
  font-size: 14px;
  line-height: 1.6;
  color: #317a7f;
  background-color: #f4f5f5;
  font-family: "Zen Old Mincho", serif, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  letter-spacing: 0.06em;
  font-style: normal;
  font-size: 54px;
}

.l-header {
  /* position: fixed; */
  height: 110px;
  z-index: 10;
}

.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.l-header .p-logo img {
  height: 30px;
}

.l-header__nav {
  display: inline-block;
}

.l-header__nav__li {
  display: inline-block;
  padding: 15px;
}

.l-header__nav__li a {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.06em;
  font-style: normal;
}

.l-header__nav__li .reserve a {
  border: 1px solid #f4f5f5;
}

.FV {
  width: 90%;
  margin: 0 auto;
}

.FV__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 20px;
}

.FV__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-style: normal;
  font-size: 42px;
  line-height: 1.5;
}

.FV__subtitle {
  font-size: 11px;
  width: 25%;
}

.FV__pict img {
  height: 800px;
  max-width: 100%;
}

.p-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.p-about__container {
  width: 50%;
}

.p-about__h1 {
  padding-bottom: 30px;
}

.p-about__wrapper img {
  height: 550px;
}

.c-text {
  letter-spacing: 0.08em;
  line-height: 2;
  padding-bottom: 20px;
}

/* Read more要素 */
.c-read {

}

.p-concept {
  background-color: #738B8C;
  color: #FFFFFF;
}

.p-concept__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.p-concept__h1 {
  padding-bottom: 30px;
}

.p-concept__img {
  height: 550px;
}