@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.6;
  color: #317a7f;
  background-color: #f4f5f5;
  font-family: "Zen Old Mincho", serif, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

main {
  overflow: hidden;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  letter-spacing: 0.06em;
  font-style: normal;
  font-size: 54px;
}

.c-small {
  font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "YuGothic",
    "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 12px;
  font-weight: 100;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
    line-height: 1.6;
  }

  h1 {
    font-weight: 300;
    letter-spacing: 0.06em;
    font-style: normal;
    font-size: 26px;
  }

  .c-small {
    font-size: 14px;
    font-weight: 100;
  }
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 1000px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}

.l-header {
  position: fixed;
  top: 0;
  height: 110px;
  z-index: 30;
  width: 100%;
}

.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.l-header .p-logo img {
  height: 30px;
}

.l-header__nav {
  display: inline-block;
}

.l-header__nav__li {
  display: inline-block;
  margin: 0 15px;
}

.l-header__nav__li a {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-style: normal;
}

.animate-link {
  background-image: linear-gradient(90deg, #738b8c, #738b8c); 
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  transition: all 0.3s ease 0s;
}

.animate-link:hover {
  background-size: 100% 1px;
}

.l-header__nav__li a:hover::after {
  width: 100%;
}

.l-header__modal__menu {
  position: fixed;
  top: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: #738B8C;
  display: none;
}

.l-header__modal__wrapper {
  text-align: center;
  margin: 80px 0;
}

.l-header__nav__li {
  color:#317a7f;
  mix-blend-mode: difference;
}

.l-header__modal__wrapper img{
  width: 20px;
}

.reserve {
  border: 1px solid #cbd3d4;
  padding: 0 11px;
  border-radius: 2em;
}

.reserve:hover {
  border: 1px solid #F8F8F8;
  padding: 0 11px;
  border-radius: 2em;
  color:#e3f9fa;
  background-color: #C3C4C4;
}

.l-header__nav__sp {
  display: none;
}

@media screen and (max-width: 1000px) {
  .l-header {
    height: auto;
  }

  .l-header .p-logo img {
    height: 27px;
  }

  .l-header__wrapper {
    padding: 25px 0;
  }

  .l-header__nav__li {
    display: none;
  }

  .l-header__nav__sp {
    display: flex;
    gap: 30px;
  }

  .l-header__nav__sp a {
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  .reserve {
    padding: 0 11px;
  }

  .l-header__menuButton {
    display: block;
    width: 40px;
    height: 20px;
    appearance: none;
    position: relative;
    z-index: 9999;
  }

  .l-header__inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .l-header__inner span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #86b6b9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }

  .l-header__inner span:nth-of-type(1) {
    top: 5px;
  }

  .l-header__inner span:nth-of-type(2) {
    top: 10px;
  }

  .l-header__inner span:nth-of-type(3) {
    top: 16px;
  }

  .l-header__menuButton--open .l-header__inner span {
    top: 50%;
  }

  .l-header__menuButton--open .l-header__inner span:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  .l-header__menuButton--open .l-header__inner span:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  .l-header__menuButton--open .l-header__inner span:nth-child(2) {
    display: none;
  }

  .navigation__link {
    color: #fff;
    display: block;
    padding: 24px 0;
    transition: .5s;
  }

  @media (hover: hover) and (pointer: fine) {
    .navigation__link:hover {
      /*background: #fff;*/
    }
  }
}

.FV {
  width: 90%;
  padding-top: 300px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.FV__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.FV__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-style: normal;
  font-size: 42px;
  line-height: 1.5;
}

.FV__subtitle {
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 14px;
  font-weight: 100;
  font-size: 11px;
  width: 25%;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .FV__wrapper {
    display: block;
  }

  .FV__title {
    font-size: 36px;
    letter-spacing: 0.02em;
  }

  .FV__subtitle {
    width: 100%;
    margin: 18px 0;
  }
}

.FV__pict img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.p-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 80px auto 60px auto;
  position: relative;
}

.p-about__images {
  position: relative;
}

.p-about__images img {
  width: auto;
  object-fit: cover;
}

.p-about__wrapper img {
  height: 550px;
}

.p-about__item01 {
  position: relative;
  overflow: hidden;
  z-index: 4;
  text-align: center;
}

.p-about__item02 {
  position: absolute;
  overflow: hidden;
  top: 25%;
  left: -70px;
  right: 50%;
  height: 200px;
  z-index: 5;
}

.p-about__item03 {
  position: absolute;
  overflow: hidden;
  bottom: -30px;
  left: -40px;
  height: 170px;
  width: 160px;
  z-index: 3;
}

.p-about__item04 {
  position: absolute;
  overflow: hidden;
  bottom: -15px;
  right: -60px;
  height: 230px;
  width: 210px;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .p-about {
    display: block;
  }

  .p-about__wrapper img {
    height: 310px;
  }

  .p-about__item02 {
    height: 130px;
  }

  .p-about__item04 {
    height: 100px;
  }
}

.p-about__container {
  width: 50%;
  z-index: 10;
}

.p-about__h1 {
  padding-bottom: 30px;
}

.c-text {
  letter-spacing: 0.08em;
  line-height: 2;
  padding-bottom: 20px;
}

/* Read more要素 */
.c-read {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  width: 200px;
}

.c-read__text {
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 14px;
  font-weight: 100;
}

.c-read img {
  width: 15px;
}

/*.c-read {
  height: 0.7px;
  display: inline-block;
  color: #738b8c;
  position: relative;
  bottom: -10px;
  z-index: 2;
  transition: ease .2s;
} */

.c-read::after {
  content: "";
  height: 0.7px;
  left: 0;
  width: 0;
  display: inline-block;
  background-color: #738b8c;
  position: absolute;
  bottom: -10px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}

.arrowMove1::after {
  content: "";
  position: absolute;
  top: 42%;
  right: 13px;
}

/* .arrowMove1:hover {
  animation: arrow .5s;
}

@keyframes arrow {
  50% {
    right: 10px;
  }
  100% {
    right: 13px;
  }
} */

.arrowMove1 {
  display: block;
  position: relative;
  animation: anime1 1s ease;
}

/* .arrowMove1:hover {
  opacity: 0.5;
  animation: anime1 1s ease;
} */

@keyframes anime1 {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.reverse::after {
  background-color: #abb9ba;
}

.c-read:hover::after {
  background-color: #576c6c;
  width: 100%;
  z-index: 1;
}

.reverse:hover::after {
  background-color: #ffffff;
  width: 100%;
}

.p-about__flow {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  white-space: nowrap;
  margin-top: 100px;
  z-index: -1;
  overflow: hidden;
  position:absolute;
  top:5%;
}

.p-about__flow ul {
  animation: flowing 60s linear infinite;
  animation-direction: reverse;
  font-size: 54px;
  color: #d5e5e6;
  letter-spacing: 0.15em;
  transform:translateX(100%);
  margin: 0;
  padding: 0;
}

.p-about__flow ul li{
  display: inline-block;
  padding-right: 10px;
}

@keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}

@media screen and (max-width: 1000px) {
  .p-about__container {
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .c-read {
    width: 100%;
  }

  .c-read::after {
    width: 100%;
  }
}

.p-concept {
  background-color: #f4f5f5;
  color: #ffffff;
}

.c-content__bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.5s ease 0s;
  z-index: 0;
}
.c-content__bg.show::before {
  opacity: 1;
}
.c-content__bg001::before {
  background: #738b8c;
}

.p-concept__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.p-concept__wrapper {
  width: 85%;
  z-index: 20;
}

.p-concept__h1 {
  padding-bottom: 30px;
}

.p-concept__img {
  z-index: 20;
}

.p-concept__img img{
  height: 550px;
}

@media screen and (max-width: 1000px) {
  .p-concept__container {
    flex-direction: column-reverse;
  }
}

.p-menu {
  background-color: #f4f5f5;
  color: #ffffff;
}

.p-menu__container {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 90%;
  margin: 0 auto;
}

.p-menu__image {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 15px;
  padding-bottom: 30px;
  overflow: hidden;
  position:relative;
  z-index: 20;
}

.p-menu__image img {
  max-width: 100%;
  object-fit: cover;
}

.p-menu__image__01 {
  flex: 2;
}

.p-menu__img__01 {
  height: 400px;
}

.p-menu__image__02 {
  flex: 1;
}

.p-menu__img__02 {
  height: 300px;
}

.p-menu__image__03 {
  flex: 1;
}

.p-menu__img__03 {
  height: 300px;
}

.p-menu__common {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position:relative;
  margin-top: 60px;
  z-index: 20;
}

.p-menu__h1 {
  padding-bottom: 30px;
}

.p-menu__wrapper {
  width: 50%;
}

.p-menu__list {
  width: 50%;
}

.p-menu__list__ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(100% - 1px + 3vw);
}

.p-menu__list__ul__li {
  margin: 5px;
  width: calc(50% - 7vw);
}

.p-menu__list__ul__li span {
  display: block;
  position: relative;
  padding: 2em 0;
}

.p-menu__list__ul li:nth-child(1) {
  border-top: 0.5px solid #abb9ba;
}

.p-menu__list__ul li:nth-child(2) {
  border-top: 0.5px solid #abb9ba;
}

.p-menu__list__ul li::after {
  content: "";
  width: 16vw;
  height: 0.7px;
  display: inline-block;
  background-color: #abb9ba;
  position: absolute;
}

.p-menu__list__ul__li dt {
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 20px;
  font-weight: 100;
}

.p-menu__list__ul__li dd {
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 14px;
  font-weight: 100;
}
.p-menu__list__ul img {
  width: 15px;
  position: absolute;
  top: calc(50% + 0.1em);
  right: 0;
}

@media screen and (max-width: 1000px) {
  .p-menu__image__01 {
    flex:auto;
    width:100%;
    margin-bottom: 10px;
  }

  .p-menu__image__02 {
    flex:1;
  }

  .p-menu__image__03 {
    flex:1;
  }

  .p-menu__common {
    flex-direction: column;
  }

  .p-menu__wrapper {
    width: 85%;
    margin-bottom: 60px;
  }

  .p-menu__list {
    width: 100%;
    margin: 0 auto;
  }

  .p-menu__list__ul li::after {
    width: 200px;
  }
}

.p-info__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  text-align:center;
}

.p-info__address span {
  line-height: 2.5;
}

.p-info__notice {
  background-color: #edeff0;
  max-width: 90%;
  padding: 80px 80px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.p-info__title {
  margin-bottom: 2em;
  letter-spacing: 0.1em;
}

.c-tag {
  display: inline-block;
  width: 65px;
  height: 25px;
  background-color: #317a7f;
  color: #fff;
  border-radius: 25px;
  margin-right: 15px;
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

.c-title {
  margin-right: 20px;
  font-size: 22px;
}

.c-date {
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 18px;
  font-weight: 100;
  color: #89abad;
  position: relative;
}

.c-date::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: #89abad;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}

@media screen and (max-width: 1000px) {
  .p-info__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 14px;
  }

  .c-date::before {
    display: none;
  }

  .p-info__notice {
    padding: 60px 23px;
  }
}

.p-slide__autoplay {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.p-slide__autoplay img {
  height: 35vw;
  object-fit: cover;
}

.p-info__text {
  line-height: 2.5;
}

.p-info__text__WH {
  display: block;
  background-color: #f4f5f5;
  padding: 15px 30px;
  margin: 20px 0;
}

.p-reserve__container {
  display: flex;
  border-top: 1px solid hsla(183, 10%, 80%, 1);
  border-bottom: 1px solid hsla(183, 10%, 80%, 1);
}

.p-reserve__container__left {
  width: 30%;
  padding: 20px;
  border-right: 1px solid hsla(183, 10%, 80%, 1);
}

.p-reserve__h1 {
  padding-bottom: 30px;
}

.p-reserve__container__right {
  width: 70%;
  display: flex;
  align-items: center;
}

.p-reserve__item01 {
  width: 100%;
  height: 100%;
  border-right: 1px solid hsla(183, 10%, 80%, 1);
  text-align: center;
  line-height: 152px;
}

.p-reserve__item02 {
  width: 100%;
  height: 100%;
  border-right: 1px solid hsla(183, 10%, 80%, 1);
  text-align: center;
  line-height: 152px;
}

.p-reserve__item03 {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 152px;
}

.p-reserve__item01 a {
  position: relative;
  display: block;
  margin: 55px 20px;
}

.p-reserve__item02 a {
  position: relative;
  display: block;
  margin: 55px 20px;
}

.p-reserve__item03 a {
  position: relative;
  display: block;
  margin: 55px 20px;
}

.p-reserve__item01 img {
  height: 70px;
}

.p-reserve__item02 img {
  height: 62px;
}

.p-reserve__item01:hover, .p-reserve__item02:hover,
.p-reserve__item03:hover {
  background-color: #E3E9E9;
}

.p-reserve__container__sp {
  display: none;
}

@media screen and (max-width: 1000px) {
  .p-reserve {
    border-top: 1px solid hsla(183, 10%, 80%, 1);
    border-bottom: 1px solid hsla(183, 10%, 80%, 1);
    background-color: #E3E9E9;
    padding: 60px 0;
  }

  .p-reserve__container {
    display: none;
  }

  .p-reserve__container__sp {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .p-reserve__title {
    display: block;
    text-align:center;
  }

  .p-reserve__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-small {
    font-size: 12px;
  }

  .short {
    width: 200px;
  } /*sp時に幅を伸ばさないread more*/

  .short::after {
    width: 200px;
  }

  .p-reserve__item01, .p-reserve__item02,
  .p-reserve__item03 {
    line-height: 50px;
  }
  
  .p-reserve__item02 a {
    margin: 55px 10px;
  }

  .p-reserve__item01 img {
    height: 50px;
  }

  .p-reserve__item02 img {
    height: 36px;
  }

  .p-reserve__item03 img {
    height: 50px;
  }

}

.l-footer {
  width: 90%;
  margin: 0 auto;
}

.l-footer__container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  position:relative;
}

.l-footer__container__left {
  display: flex;
  gap: 20px;
}

.l-footer__container__left__img {
  height: 25px;
}
