@charset "UTF-8";

body {
  font-size: 18px;
  line-height: 1.6;
  color: #317a7f;
  background-color: #f4f5f5;
  font-family: "Zen Old Mincho", serif, "ヒラギノ明朝 Pro",
    "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  letter-spacing: 0.06em;
  font-style: normal;
  font-size: 54px;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 680px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

}

.l-header {
  position: fixed;
  top: 0;
  height: 110px;
  z-index: 10;
  width: 100%;
}

.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.l-header .p-logo img {
  height: 30px;
}

.l-header__nav {
  display: inline-block;
}

.l-header__nav__li {
  display: inline-block;
  margin: 0 15px;
}

.l-header__nav__li a {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.09em;
  font-style: normal;
}

.l-header__menuButton {
  display: none;
}

@media screen and (max-width: 680px) {
  .l-header__nav__li {
    display: none;
  }

  .l-header__nav__li .reserve {
    display: block;
  }

  .l-header__menuButton {
    display: block;
    width: 60px;
    height: 60px;
  }

  .l-header__inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .l-header__inner span {
    height: 2px;
    width: 100%;
    background-color: #767676;
  }
}

.reserve {
  border: 1px solid #767676;
  padding: 4px 11px;
  border-radius: 2em;
}

.FV {
  width: 90%;
  margin: 140px auto 20px auto;
}

.FV__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FV__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-style: normal;
  font-size: 42px;
  line-height: 1.5;
}

.FV__subtitle {
  font-size: 11px;
  width: 25%;
}

.FV__pict img {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.p-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 80px auto 60px auto;
}

@media screen and (max-width: 680px) {
  .p-about {
    display: block;
  }
}

.p-about__images {
  position:relative;
}

.p-about__images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.p-about__item01 {
  position: relative;
  overflow: hidden;
  z-index: 4;
}

.p-about__item02 {
  position: absolute;
  overflow: hidden;
  top: 25%;
  left:-70px;
  right: 50%;
  height: 200px;
  z-index:5;
}

.p-about__item03 {
  position: absolute;
  overflow: hidden;
  bottom: -30px;
  left: -40px;
  height: 170px;
  width: 160px;
  z-index: 3;
}

.p-about__item04 {
  position: absolute;
  overflow: hidden;
  bottom: -15px;
  right: -60px;
  height: 230px;
  width: 210px;
  z-index: 2;
}

.p-about__container {
  width: 50%;
}

.p-about__h1 {
  padding-bottom: 30px;
}

.p-about__wrapper img {
  height: 550px;
}

.c-text {
  letter-spacing: 0.08em;
  line-height: 2;
  padding-bottom: 20px;
}

/* Read more要素 */
.c-read {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  width: 200px;
}

.c-read__text {
  font-family: "Helvetica", "Helvetica Neue", "Arial";
  font-size: 18px;
  font-weight: 100;
}

.c-read img {
  width: 15px;
}

/* svgの線色変更保留 */
/* .c-read.reverse img {
  stroke: #fff;
}*/

.c-read::after {
  content: "";
  width: 200px;
  height: 0.7px;
  display: inline-block;
  background-color: #738b8c;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.reverse::after {
  background-color: #ffffff;
}

.p-concept {
  background-color: #738b8c;
  color: #ffffff;
}

.p-concept__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.p-concept__h1 {
  padding-bottom: 30px;
}

.p-concept__img {
  height: 550px;
}

.p-menu {
  background-color: #738b8c;
  color: #ffffff;
}

.p-menu__container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}

.p-menu__image {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding-bottom: 30px;
  overflow: hidden;
}

.p-menu__image img {
  max-width: 100%;
  object-fit: cover;
}

.p-menu__image__01 {
  flex: 2;
}

.p-menu__img__01 {
  height: 400px;
}

.p-menu__image__02 {
  flex: 1;
}

.p-menu__img__02 {
  height: 300px;
}

.p-menu__image__03 {
  flex: 1;
}

.p-menu__img__03 {
  height: 300px;
}

.p-menu__common {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.p-menu__h1 {
  padding-bottom: 30px;
}

.p-menu__wrapper {
  width: 50%;
}

.p-menu__list {
  width: 50%;
}

.p-menu__list__ul {
  display: flex;
  flex-wrap: wrap;
}

.p-menu__list__ul__li {
  margin: 5px;
  width: calc(50% - 10px);
}

.p-info__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.p-info__notice {
  background-color: gray;
  max-width: 90%;
  padding: 50px 50px;
  margin: 0 auto;
}

.p-reserve__container {
  display: flex;
  border-top: 1px solid hsla(183, 10%, 80%, 1);
  border-bottom: 1px solid hsla(183, 10%, 80%, 1);
}

.p-reserve__container__left {
  width: 30%;
  border-right: 1px solid hsla(183, 10%, 80%, 1);
}

.p-reserve__h1 {
  padding-bottom: 30px;
}

.p-reserve__container__right {
  width: 70%;
  display: flex;
  align-items: center;
}

.c-small {
  font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "YuGothic",
    "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック",
    "MS PGothic", "メイリオ", "Meiryo", sans-serif;
  font-size: 14px;
  font-weight: 100;
}


.l-footer {
  width: 90%;
  margin: 0 auto;
}

.l-footer__container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.l-footer__container__left {
  display: flex;
  gap: 20px;
}

.l-footer__container__left__img {
  height: 25px;
}
